.header{
  height: 70px;
  background: #fffa7b;
  h1{
    text-align: center;
    margin: 0;
    padding-top: 8px;
    font-weight: 900;
    font-size: 40px;
    color:white;
    text-shadow: 2px 2px 10px black;
  }
}
